.head-post {
    border: 2px solid darkviolet;
    margin: 3px 5px;
    padding: 5px;
    width: 60%;
    background-color:darkviolet;
    text-align: center;
    margin-left: 20%;
    margin-top: 0;
}

.head-post .user-name-post {
    text-transform: uppercase;
    color: white;
}

.head-post .like-post span {
    color: white;
    font-size: 1.1em;
}

.head-post .like-post .heart {
    color: red;
    font-size: 1.3em;
} 

.container-post .load-more {
    color: white;
    background-color: darkviolet;
    border: 1px solid darkviolet;
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    margin-left: 47%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.container-post .load-more:hover {
    color: yellow;
    background-color:rgb(29, 26, 26);
    border: 2px solid rgb(29, 26, 26);
    transition: all .6s;
}